

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


th {

	color : #000000;

	font-size : 11px;

	font-family : Tahoma,Verdana,Arial;

}

input, select {

	color : #000000;

	font-size : 11px;

	font-family : Tahoma,Verdana,Arial;

	font-weight: bold;

}

.px {

	padding-top : 0px;

	padding-bottom : 0px;

	padding-left : 0px;

	padding-right : 0px;

	margin-top : 2px;

	margin-bottom : 0px;

	margin-left : 0px;

	margin-right : 0px;

}

.px5 {

	padding-top : 0px;

	padding-bottom : 0px;

	padding-left : 0px;

	padding-right : 0px;

	margin-top : 5px;

	margin-bottom : 0px;

	margin-left : 0px;

	margin-right : 0px;

}

.title01 {

	color : #8D3219;

	margin-top : 15px;

	padding-bottom : 0px;

	margin-bottom : 0px;

	margin-left : 5px;

	margin-right : 0px;

	font-size : 25px;

	font-family : "Times New Roman", Times, serif;

	font-weight: bold;

	font-style: italic;

}

.title {

	color : #000000;

	margin-top : 28px;

	padding-bottom : 10px;

	margin-bottom : 0px;

	margin-left : 45px;

	margin-right : 10px;

	font-size : 11px;

	font-family : Tahoma,Verdana,Arial;

	font-weight: bold;

}

.title a {

	color : #EF6D00;

}

.title a:hover {

	color : #C25A02;

}

.list {

	color : #FFFFFF;

	margin-top : 3px;

	padding-bottom : 3px;

	margin-bottom : 0px;

	margin-left : 10px;

	margin-right : 10px;

	font-size : 11px;

	font-family : Tahoma,Verdana,Arial;

	font-weight: bold;

}

.right {

	color : #FFFFFF;

	margin-top : 5px;

	padding-bottom : 10px;

	margin-bottom : 0px;

	margin-left : 15px;

	margin-right : 15px;

	font-size : 11px;

	font-family : Tahoma,Verdana,Arial;

	font-weight: bold;

}

.right a, .list a {

	color : #FFFFFF;

}

.right a:hover {

	color : #AAAAAA;

}

.left {

	color : #000000;

	margin-top : 10px;

	padding-bottom : 5px;

	margin-bottom : 0px;

	margin-left : 15px;

	margin-right : 10px;

	font-size : 11px;

	font-family : Tahoma,Verdana,Arial;

	font-weight: bold;

}

.left a {

	color : #FF6600;

}

.left a:hover {

	color : #FF0000;

}

p {

	color : #000000;

	margin-top : 5px;

	padding-bottom : 10px;

	margin-bottom : 0px;

	margin-left : 10px;

	margin-right : 10px;

	font-size : 11px;

	font-family : Tahoma,Verdana,Arial;

}

p a {

	color : #000000;

	font-weight: bold;

}

p a:hover {

	color : #294A7B;

}

.menu01 {

	color : #FFFFFF;

	margin-top : 0px;

	padding-bottom : 0px;

	margin-bottom : 0px;

	margin-left : 1px;

	margin-right : 1px;

	font-size : 11px;

	font-family : Tahoma,Verdana,Arial;

	font-weight: bold;

}

.menu01 a {

	color : #FFFFFF;

	text-decoration: none;

}

.menu01 a:hover {

	color : #EEEEEE;

}

.menu02 {

	color : #FFFFFF;

	margin-top : 25px;

	padding-bottom : 0px;

	margin-bottom : 0px;

	margin-left : 20px;

	margin-right : 0px;

	font-size : 11px;

	font-family : Tahoma,Verdana,Arial;

}

.menu02 a {

	color : #FFFFFF;

	text-decoration: none;

}

.menu02 a:hover {

	color : #555555;

}
/* Codigo de Sebastian

{

}

*/
#efecto
{
display: flex;
position: relative;
cursor: pointer;
font-size: 25px;
font-weight: bold;
font-family: sans serif;
}	


.cambio{
	display: flex;

}

/*clase texto: clase que afectara a todos los que tengan su nombre*/
.texto{
	position: absolute; /*  se sobre pone a cualquier parte de la pagina sin modificar su espacio */
	word-break: break-al;/*   Limita a las palabras de salirse de su espacio*/
    left: 30%;
    top:120;
	transform: translateX(-50%)translateY(-30%);/*   */
	width: 40%;/* espacio de las palabras  */
	left: 10%;
    background-color:rgb(255, 230, 230);; /*color del fondo   */
    color: rgb(11, 8, 8);/*  color de letras */
    white-space: normal;
    padding: 10px 15px;
    border-radius: 7px;
    visibility: hidden; /*  oculta las palabras */
    opacity: 0;
    transition: opacity .5s ease;
	text-align:start;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	

}
/*  crea la flecha inferior */
.texto::before{
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: 15px solid;
border-color: rgb(255, 251, 251) #0000 #0000 #0000;

}

/* muestra el texto  */
.cambio:hover .texto{
cursor: pointer;
    top:-130%;
    visibility: visible;
    opacity: 1;
}



/*ajusta personalmente el id=texto 2*/

#texto2{
    left: 30%;
    top:120;
	width: 40%;
	transform: translateX(-60%)translateY(-300%);
}



/*ajusta personalmente el id=texto 3*/
#texto3{
    top:120;
	width: 40%;
    transform: translateX(40%)translateY(-410%);
	left: 10%;
    background-color: #FF0000;
}


/*ajusta personalmente el id=texto 4*/
#texto4{
    top:120;
	width: 40%;
    transform: translateX(85%) translateY(-300%);
	

}

/*ajusta personalmente el id=texto 5*/
#texto5{

    left: 30%;
    top:10%;
	width: 40%;
    transform: translateX(80%) translateY(-140%);
}

#foto{
	width: 153px;
	height: 135px;
	display: contents;
	cursor: pointer;
}
/*edito texto con id=foto 1*/
#foto1{
 	left: 30%;
    top:80%;
	width: 20%;
	transform: translateX(35%) translateY(-950%);

	

}
/* muestra el texto de la imagen  */
#foto:hover .texto{
	top: 80%;
	visibility: visible;
    opacity: 1;
}

body {
	background-color: #000000;
	margin: 0px;
	padding: 0px;
	background-image: url(images/layout/bg.gif);
	background-repeat: repeat-y;
	background-position: center top;
}
body,td,tr {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 12px;
	font-weight: normal;
	color: #CFCFC9;
}
.txt-footer {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	padding: 5px 24px;
}
a:link {
	color: #FFFFFF;
	text-decoration: none;
}
a:visited {
	color: #FFFFFF;
	text-decoration: underline;
}
a:hover {
	color: #FF6400;
	text-decoration: none;
}
a:active {
	color: #FF6400;
	text-decoration: underline;
}
